# Node modules
**/node_modules/

# Environment files
*.env

# Build directories
dist/
build/

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Cache
.cache/
*.tsbuildinfo

# Editor folders
.vscode/
.idea/

# Coverage reports
coverage/

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
